@model ExpertViewModel;
<div id="expertModal" class="modal modal-background closeModal" 
    hx-swap="delete"
    hx-target="this"
    hx-get=""
    hx-trigger="click target:.closeModal">
    <div class="modal-window">
        <div class="closeModalButton closeModal">
            <img class="closeModal" src="images/svg/x.svg"></img>
        </div>
        <div class="modal-textbox">
            <form>
                <div class="row">
                    <img id="expertImage" src="images/@(Model.Id).jpg" class="u-max-full-width" />
                </div>
                <div class="row">
                    <label for="firstname">Fornavn:</label>
                    <input id="firstname" class="expert-name" name="FirstName" value="@Model.FirstName"/><br />
                </div>
                <div class="row">
                    <label for="lastname">Etternavn:</label>
                    <input id="lastname" class="expert-name" name="LastName" value="@Model.LastName"/><br />
                </div>
                <div class="row">
                    <label for="role">Rolle:</label>
                    <input id="role" class="role" name="Role" value="@Model.Role"/><br />
                </div>
                <div class="row">    
                    <label for="technology">Teknologi:</label>
                    <input id="technology" class="technology" name="Technology" value="@Model.Technology"/><br />
                </div>
                <div class="row">
                    <label for="description">Beskrivelse:</label>
                    <textarea id="description" name="Description">@Model.Description</textarea>
                </div>
                <button type="submit"
                        hx-swap="delete"
                        hx-target="#expertModal"
                        hx-post="ExpertDetails/Edit/@Model.Id">
                    Save
                </button>
            </form>  
        </div>
    </div>
</div>